openapi: 3.0.0

info:
  title: ainize-with-ainjs
  version: 1.0.0

servers:
  - url: https://endpoint.ainize.ai/liayoo/ainize-with-ainjs/

paths:
  /:
    get:
      responses:
        '200':
          content:
            application/json:
              schema:
                type: string
                properties:
                  result:
                    type: string
        '400':
          description: Bad Request Error
        default:
          description: Unexpected Error
  /set_value:
    get:
      summary: Creates and sends a transaction to AIN Blockchain, which sets a value at a certain path (/afan/ainize_test/${random_key}).
      parameters:
        - name: value
          in: query
          required: true
          allowReserved: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                  txHash:
                    type: string
  /message:
    post:
      summary: Asks a chatbot the incoming question, and writes the chatbot's answer to AIN Blockchain.
      consumes:
      - "application/json"
      produces:
      - "application/json"
      requestBody:
        description: "A question to ask"
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                question:
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                  txHash:
                    type: string